[Unit]
Description=Cloning of the Tizen IVI OS to a non-removable media

[Service]
Type=oneshot
StandardOutput=journal+console
StandardInput=tty
ExecStart=/usr/sbin/setup-ivi-clone-service
ExecStartPost=/usr/sbin/reboot
