[Unit]
Description=Cloning of the Tizen OS to a non-removable media

[Service]
Type=oneshot
StandardOutput=journal+console
StandardInput=tty
ExecStart=/usr/sbin/setup-scripts-clone-service
ExecStartPost=/usr/sbin/reboot
